.banner {
  height: 500px;
  background-color: #f5f5f5;
}

.banner .content {
  position: relative;
  overflow: hidden;
}

.banner .img {
  display: block;
  transition: all 0.3s;
}

.banner .img::before,
.banner .img::after {
  content: '';
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  background-image: url(../images/sprites.png);
  transition: all 0.3s;
}

.banner .img::before {
  top: 50%;
  background-position: 14px -60px;
  transform: translate(256px, -50%);
}

.banner .img::after {
  top: 50%;
  right: 0;
  background-position: -22px -60px;
  transform: translate(-12px, -50%);
}

.banner .img:hover {
  transform: scale(1.1);
}

.banner .img:hover::before {
  transform: translate(286px, -50%);
}

.banner .img:hover::after {
  transform: translate(-62px, -50%);
}

.banner .content .menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 251px;
  height: 100%;
}

.banner .content .menu .item {
  padding-left: 36px;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .content .menu .item:hover {
  background-color: #27ba9b;
}

.banner .content .menu .item a {
  display: block;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
}

.banner .content .menu .item a strong {
  margin-right: 15px;
  font-size: 16px;
  font-weight: normal;
}

.banner .content .menu .item a::after {
  content: '〉';
  float: right;
  padding-right: 19px;
}

/* 新鮮好物 */
.new-products {
  padding: 48px 0;
}

.new-products .head .title {
  float: left;
  color: #333;
  font-size: 29px;
}

.new-products .head .description {
  float: left;
  margin: 12px 0 0 34px;
  color: #999;
}

.new-products .head .view-all {
  float: right;
  margin: 12px 0 0 34px;
  color: #999;
}

.new-products .head .view-all::after {
  content: '〉';
  display: inline-block;
  margin-left: 10px;
  transform: translateY(-2px);
  font-size: 12px;
}

.new-products .list {
  margin-top: 30px;
}

.new-products .list .item {
  float: left;
  height: 405px;
  margin-right: 8px;
  background-color: #f0f9f4;
  text-align: center;
  overflow: hidden;
}

.new-products .list .item:last-child {
  margin-right: 0;
}

.new-products .list .item img {
  height: 304px;
  transition: all 0.5s;
}

.new-products .list .item:hover img {
  transform: scale(1.2);
}

.new-products .list .item .info {
  position: relative;
  height: 100px;
  padding: 22px 0 4px 0;
  background-color: #f0f9f4;
  z-index: 2;
}

.new-products .list .item .price {
  color: #9a2e1f;
}

/* 生鮮 */
.foods .head .title {
  float: left;
  font-size: 29px;
}

.foods .head .menu {
  float: right;
  margin-right: 65px;
}

.foods .head .menu .item {
  float: left;
  width: 46px;
  height: 20px;
  margin-right: 7px;
  text-align: center;
  line-height: 20px;
}

.foods .head .menu .item:last-child {
  margin-right: 0;
}

.foods .head .menu .item:hover,
.foods .head .menu .item:hover a {
  color: #fefbfc;
  background-color: #27ba9b;
}

.foods .head .menu .item.selected,
.foods .head .menu .item.selected a {
  color: #fefbfc;
  background-color: #27ba9b;
}

.foods .head .view-all {
  float: right;
  color: #999;
}

.foods .head .view-all::after {
  content: '〉';
  display: inline-block;
  margin-left: 10px;
  transform: translateY(-2px);
  font-size: 12px;
}

.foods .products {
  padding: 34px 0;
}

.foods .products .left {
  float: left;
  position: relative;
  z-index: 1;
  margin-right: 26px;
  overflow: hidden;
}

.foods .products .left img {
  transition: all 0.5s;
}

.foods .products .left:hover img {
  transform: scale(1.1);
}

.foods .products .right {
  float: left;
  /* 搞不懂這裡為什麼一定要寫死 */
  width: 968px;
}

.foods .products .right .item {
  float: left;
  width: 242px;
  height: 305px;
}

.foods .products .right .item img {
  height: 184px;
  transition: all 0.5s;
}

.foods .products .right .item:hover img {
  transform: scale(1.2);
}

.foods .products .right .item .info {
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.foods .products .right .item h3 {
  font-size: 16px;
  font-weight: normal;
}

.foods .products .right .item .price {
  margin-top: 15px;
  color: #9a2e1f;
}
