* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: MicrosoftYaHei;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  background-color: #f3f5f7;
  /* height: 2000px; */
}

.clearfix {
  overflow: hidden;
}

.center {
  width: 1200px;
  margin: 0 auto;
}

/* 頂部導航欄 */

.nav {
  height: 101px;
  padding-top: 30px;
}

.nav .logo,
.nav .menu,
.nav .search,
.nav .search-btn,
.nav .user-info {
  float: left;
}

.nav .menu {
  height: 42px;
  margin-left: 70px;
}

.nav .menu .item {
  float: left;
  height: 100%;
  padding: 5px 10px;
  margin-right: 24px;
  text-align: center;
  font-size: 18px;
  color: #050505;
}

.nav .menu .item:last-child {
  margin-right: 0;
}

.nav .menu .item:hover {
  border-bottom: 2px solid #00a4ff;
}

.nav .search {
  height: 42px;
  margin-left: 95px;
}

.nav .search input {
  float: left;
  width: 361px;
  height: 40px;
  padding: 14px 0 14px 19px;
  border: 1px solid #00a4ff;
  font-size: 14px;
  color: #bfbfbf;
}

.nav .search input:focus {
  outline: none;
}

.nav .search .btn {
  float: left;
  width: 50px;
  height: 40px;
  background-image: url(../images/nav/btn.png);
  color: transparent;
}

.nav .user-info {
  margin: 6px 32px;
}

.nav .user-info img,
.nav .user-info div {
  float: left;
}

.nav .user-info div {
  height: 30px;
  margin-left: 5px;
  font-size: 14px;
  line-height: 30px;
  color: #666;
}

/* 頭部 */
.header {
  height: 420px;
  background-color: #1c036c;
}

.header .banner {
  height: 100%;
  background-image: url(../images/header/banner.png);
}

.header .banner .left {
  float: left;
  width: 190px;
  height: 420px;
  padding: 13px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}

.header .banner .left .item {
  float: left;
  height: 44px;
  width: 140px;
  color: #fff;
  line-height: 44px;
  font-size: 14px;
}

.header .banner .left .item::after {
  content: '〉';
  float: right;
  font-size: 12px;
}

.header .banner .left .item:hover {
  color: #00b4ff;
}

.header .banner .right {
  float: right;
  width: 228px;
  height: 300px;
  margin-top: 50px;
  background-color: #fff;
}

.header .banner .right .my-class {
  height: 48px;
  margin-bottom: 6px;
  background-color: #9bceea;
  color: #fff;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
}

.header .banner .right .learn-class {
  display: block;
  height: 60px;
  padding: 8px 19px;
  border-bottom: 1px solid #eaeaea;
}

.header .banner .right .learn-class h4 {
  font-weight: normal;
  font-size: 16px;
  color: #4e4e4e;
}

.header .banner .right .learn-class p {
  font-size: 12px;
  color: #a5a5a5;
}

.header .banner .right .all-class {
  display: block;
  width: 200px;
  height: 40px;
  border: solid 1px #00a4ff;
  margin: 10px auto 0;
  text-align: center;
  line-height: 36px;
  color: #00a4ff;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.header .banner .right .all-class:hover {
  color: #fff;
  background-color: #00a4ff;
}

/* 產品 - 精品推薦 */
.recommend-menu {
  height: 60px;
  padding: 18px 0;
  margin-top: 8px;
  box-shadow: 0px 2px 3px 0px rgba(118, 118, 118, 0.2);
}

.recommend-menu .item {
  float: left;
  padding: 0 36px;
  border-right: 1px solid #bfbfbf;
  font-size: 16px;
}

.recommend-menu .item:hover {
  color: #00a4ff;
}

.recommend-menu .item:nth-last-child(2) {
  border-right: none;
}

.recommend-menu .selected {
  color: #00a4ff;
  font-weight: bold;
}

.recommend-menu .setting {
  float: right;
  margin-right: 26px;
  color: #00a4ff;
}

.recommend {
  margin-top: 30px;
}

.recommend .title {
  float: left;
  color: #494949;
  font-size: 20px;
}

.recommend .view-all {
  float: right;
  color: #a5a5a5;
  font-size: 12px;
  margin-top: 12px;
}

.recommend .view-all:hover {
  color: #00a4ff;
}

.recommend .products {
  min-height: 500px;
  width: 1215px;
  padding-top: 20px;
}

.recommend .products .item {
  float: left;
  width: 228px;
  height: 270px;
  margin-bottom: 15px;
  margin-right: 15px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(118, 118, 118, 0.5);
  transition: box-shadow 0.2s;
}

.recommend .products .item:hover {
  box-shadow: 7px 7px 5px 0px rgba(118, 118, 118, 0.5);
}

.recommend .products .item:nth-child(5n) {
  margin-right: 0;
}

.recommend .products .item .name {
  display: block;
  width: 184px;
  min-height: 40px;
  margin: 12px auto 20px;
  font-size: 14px;
  color: #050505;
}

.recommend .products .item .info {
  width: 184px;
  margin: 0 auto;
  font-size: 12px;
  color: #606060;
}

.recommend .products .item .info .level {
  color: #ff7c2d;
}

/* 底部導航 */
.footer {
  margin-top: 25px;
  background-color: #fff;
}

.footer .content {
  height: 360px;
  padding-top: 34px;
}

.footer .content .left {
  float: left;
}

.footer .content .left .desciption {
  margin: 20px 0 15px;
  font-size: 14px;
  color: #666;
}

.footer .content .left .download-app {
  display: block;
  width: 120px;
  height: 36px;
  border: solid 1px #00a4ff;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  color: #00a4ff;
}

.footer .content .left .download-app:hover {
  color: #fff;
  background-color: #00a4ff;
}

.footer .content .right {
  float: right;
}

.footer .content .right dl {
  float: left;
  margin-left: 120px;
}

.footer .content .right dl:first-child {
  margin-left: 0;
}

.footer .content .right .title {
  margin-bottom: 10px;
  color: #333;
}

.footer .content .right .item {
  font-size: 14px;
  color: #333;
}

.footer .content .right .item:hover {
  color: #00a4ff;
}
